*.log
*.out
*.pyc
*.egg-info
*.tic
.vscode

# A Postgres database directory for testing (DB_DATA)
DB/
# DB variable logs
db_env_vars_*

# R-generated package
*.tar.gz
scratch/
experiments/
turbine-output
__pycache__
.Rproj.user
.lintr

# Installed software:
Miniconda*.sh
emews-project-creator
sfw

python/dist
